<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron-text-center">
  <h1 style="color:yellow">Youtube Video Downloader</h1>
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Step 1</h3>
      <p>Paste the URL of your Youtube Video in the URL box.</p>
    </div>
    <div class="col-sm-4">
      <h3>Step 2</h3>
      <p>Click on Download Video.</p>
    </div>
    <div class="col-sm-4">
      <h3>Step 3</h3>        
      <p>Select your desired Resolution. No need to download Audio separately.</p>
    </div>
  </div>
</div>
<form>
    <div class="form-group">
      <label for="url">Youtube Link:</label>
      <input type="email" class="form-control" id="url" placeholder="Enter Youtube Video Link here">
      <br>
      <button type="submit" class="btn btn-info active">Download Video</button>
    </div>
    
</form>

</body>
</html>
